::selection {
  background: #a3f0d7;
}

h1, h2, h3 {
  margin-top: 24px;
}

.container{
  margin: 0 auto;
  width: 800px;
  >h1{
    font-size: 24px;
    padding-bottom: 8px;
  }
}

footer{
  margin-top: 20px;
  h1{
    font-size: 0.9em;
  }
  h1, p{
    display: inline-block;
  }
}
