@import url('https://fonts.googleapis.com/css2?family=Alata&family=Noto+Sans+JP:wght@100;300;400&display=swap');

$font-heading: 'Alata', sans-serif;
$font-body: 'Noto Sans JP', sans-serif;

::selection {
  background: #a3f0d7;
}

span a {
  color: #fff;
  text-decoration: none;
}

body{
  font-family: 'Noto Sans JP', "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: $font-heading;
  margin-top: 24px;
  font-size: 24px;
}

.container{
  margin: 0 auto;
  width: 80%;
}

ul.accounts{
  padding-left: 0;
  li {
    display: inline-block;
    margin: 0 5px;
    width: 15px;
  }
}

.dummies {
  height: 250px;
}

.spacer {
  height: 500px;
  background-color: pink;
}

.menu-nav {
  display: flex;

  span.menu-item {
    width: calc( 100% / 4 );
    text-align: center;
  }
}


footer{
  background-color: black;
  color: #fff;
  margin-top: 50px;
  padding: 20px;
  h1{
    font-size: 0.9em;
    margin-top: 0;
  }
  h1, p{
    display: inline-block;
  }
}

.mobile-menu {
  display: block;
  // border-top: 1px solid #000;
  bottom: 0;
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: #808080;
  color: #fff;
  span {
    line-height: 50px;
    a {
      display: block;
    }
  }
}
@media all and (min-width: 768px) {
  .display-sp {
    display: none;
  }
}

@media all and (max-width: 768px) {
  footer {
    margin-bottom: 60px;
  }
}